<!DOCTYPE html>
<html lang="en">
<style>
h1{text-align:center;}
div{text-align:center;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
    <form action="/delete_std" method="post">
        <h1>Delete Student Details</h1>
        <div>
        ID: <input type="number"  min="1000" max="9999" name="id_to_mark" autocomplete="off"><br><br>
        Password: <input type="password" name="pas" autocomplete="off"><br><br>
        <button type="submit">Submit</button>
        </div>
    </form>
    {%if result%}
    <center>
    <h2> {{result}} </h2>
    {%endif%}
    </center>
    {%if result2%}
    <center>
    <h2> {{result2}} </h2>
    {%endif%}
    </center>
</body>
</html>