<!DOCTYPE html>
<html lang="en">
<style>
h1{text-align:center;}
div{text-align:center;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
    <form action="/delete_std" method="post">
        <h1>Delete Student Details</h1>
        <div>
        ID: <input type="text" name="id_to_mark"><br><br>
        Password: <input type="password" name="pas"><br><br>
        <button type="submit">Submit</button>
        </div>
    </form>
    {%if result%}
    <center>
    <p> {{result}} </p>
    {%endif%}
    </center>
<!--    {%if result2%}-->
<!--    <center>-->
<!--    <p> {{result2}} </p>-->
<!--    {%endif%}-->
<!--    </center>-->

</body>
</html>