<table>
    <thead>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact</th>
            <th>Div</th>
            <th>Passwords<br></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1111</td>
            <td>Rohit</td>
            <td>Jadhav</td>
            <td>8169387750</td>
            <td>A</td>
            <td>rohit123<br></td>
        </tr>
        <tr>
            <td>1112</td>
            <td>Siddhesh</td>
            <td>pednekar</td>
            <td>8928015779</td>
            <td>A</td>
            <td>sid123<br></td>
        </tr>
        <tr>
            <td>1113</td>
            <td>shubham</td>
            <td>kasar</td>
            <td>7715888265</td>
            <td>A</td>
            <td>shubh123<br></td>
        </tr>
        <tr>
            <td>1114</td>
            <td>Fabian</td>
            <td>fernandis</td>
            <td>9324865739</td>
            <td>A</td>
            <td>fab123<br></td>
        </tr>
        <tr>
            <td>1115</td>
            <td>mandar</td>
            <td>shevade</td>
            <td>7715888265</td>
            <td>A</td>
            <td>maddo123<br></td>
        </tr>
        <tr>
            <td>2221</td>
            <td>Prathamesh</td>
            <td>Patil</td>
            <td>9987555196</td>
            <td>A</td>
            <td>patil123<br></td>
        </tr>
        <tr>
            <td>2222</td>
            <td>Yash</td>
            <td>jadhav</td>
            <td>9653301695</td>
            <td>A</td>
            <td>noddy123<br></td>
        </tr>
        <tr>
            <td>2223</td>
            <td>Ajinkya</td>
            <td>Bhillare</td>
            <td>7208228838</td>
            <td>A</td>
            <td>ajju123<br></td>
        </tr>
        <tr>
            <td>2224</td>
            <td>Datta</td>
            <td>Bhobate</td>
            <td>9004424670</td>
            <td>A</td>
            <td>dsb123<br></td>
        </tr>
        <tr>
            <td>2225</td>
            <td>Suraj</td>
            <td>Parab</td>
            <td>9653315318</td>
            <td>A</td>
            <td>sp123<br></td>
        </tr>
    </tbody>
</table>