<!DOCTYPE html>
<html lang="en">
<style>
h1{text-align:center;}
div{text-align:center;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Mark attendace</title>
</head>
<body>
    <form action="/mark_attendance" method="post">
        <h1>Mark The attendance</h1>
        <div>
<!--        <label for ="Name">Enter student Id: </label>-->
        Id:<input type="text" name="id_to_mark"><br><br>
        Password:<input type="password" name="pas"><br><br>
        <button type="submit">Submit</button>
        </div>
    </form>
    {%if result1%}
    <center>
    <p> id not found try again or password is wrong </p>
    {%endif%}
    </center>
    {%if result%}
    <center>
    <p> Attendance marked of Id : {{result}}</p>
    {%endif%}
    </center>
</body>
</html>