<!DOCTYPE html>
<html lang="en">
<style>
h1{text-align:center;}
div{text-align:center;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Mark attendace</title>
</head>
<body>
    <form action="/mark_attendance" method="post">
        <h1>Mark The attendance</h1>
        <div>
        ID: <input type="number"  min="1000" max="9999" name="id_to_mark" autocomplete="off"><br><br>
        Password:<input type="password" name="pas" autocomplete="off"><br><br>
        <button type="submit">Submit</button>
        </div>
    </form>
    {%if result1%}
    <center>
    <h2> id not found or password is wrong </h2>
    {%endif%}
    </center>
    {%if result%}
    <center>
    <h2> Attendance marked of Id : {{result}}</h2>
    {%endif%}
    </center>
</body>
</html>