<!DOCTYPE html>
<html lang="en">
<style>
h1{text-align:center;}
div{text-align:center;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Add new Student</title>
</head>
<body>
    <form action="/new_student" method="post">
        <h1>Student attendance</h1>
        <div>
        ID: <input type="number"  min="1000" max="9999" name="std_id" autocomplete="off"><br><br>
        First Name: <input type="text" name="first_name" autocomplete="off"><br><br>
        Last Name: <input type="text" name="last_name" autocomplete="off"><br><br>
        Contact: <input type="number" name="phone" autocomplete="off"><br><br>
        Div: <input type="text" name="div" autocomplete="off"><br><br>
        Password: <input type="password" name="pas"><br><br>
        <button type="submit">Submit</button>
        </div>
    </form>
    {%if result%}
    <center>
    <h2> Added successfully </h2>
    <p> {{result}} </p>
    {%endif%}
    </center>
    {%if result2%}
    <center>
    <h2> {{result2}} </h2>
    {%endif%}
    </center>
</body>
</html>