<html>
<style>
h1{text-align:center;}
p{text-align:center;}
div{text-align:center;}
</style>

    <head>
        <title>My_html</title>
    </head>
    <body>
    <form action="/attendance" method="post">
        <h1>Attendance Menu</h1><br>
        <div>
        <a href="/mark_attendance">
            <h1> Mark attendance </h1>
        </a>
        <a href="/day">
            <h1> Daily Report </h1>
        </a>
        <a href="/week">
            <h1> Weekly Report</h1>
        </a>
        <a href="/month">
            <h1> Monthly Report </h1>
        </a>
        <a href="/total_report">
            <h1> Total Report </h1>
        </a>
        </div>
    </form>
    </body>
</html>
