<html>
<style>
h1{text-align:center;}
p{text-align:center;}
div{text-align:center;}
</style>

    <head>
        <title>My_html</title>
    </head>
    <body>
    <form action="/student" method="post">
        <h1>Student Management Menu</h1><br>
        <div>
        <a href="/new_student">
            <h1> Add Student </h1>
        </a>
        <a href="/list_student">
            <h1> Student List </h1>
        </a>
        <a href="/delete_std">
            <h1> Delete Student </h1>
        </a>
        </div>
    </form>
    </body>
</html>
